/* Mengatur font-size secara global untuk elemen teks */
:root {
  font-size: 13px;
}

/* Mengatur font-size untuk elemen PrimeVue */
/* .p-component {
  font-size: px !important;
} */

/* Mengatur font-size untuk teks dalam tabel */
.p-datatable .p-datatable-tbody > tr > td {
  font-size: 12px !important;
}

